footer {
  background-image: linear-gradient(
    rgb(0, 27, 54),
    rgba(245, 245, 245, 0.473)
);

  padding: 10px;
  display: flex;
  justify-content: center;
}

footer a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
}
