body {
  margin: 0;

  background: linear-gradient(to right, #434343 0%, black 100%);
  color: whitesmoke;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header,
.footer {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hi .h2 .h3 .p {
  font-size: 300px;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
